<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <title>Runnity</title>
  <link href="/chat/css/group-chat-list.css" rel="stylesheet">
</head>
<body>
<header>
  <a class="main-logo" th:href="@{/main}">
    <h1>
      <img alt="Runnity Logo" src="/images/unit-logo.png" width="32">
      Runnity
    </h1>
  </a>
  <div class="buttons">
    <button class="my-chat-btn" onclick="location.href='/chat-room/my-chat-list'">나의 채팅방</button>
    <button class="logout-btn" form="signOutForm" type="submit">로그아웃</button>
    <form id="signOutForm" method="post" style="display : none" th:action="@{/api/auth/signOut}">
    </form>
  </div>
</header>

<div class="search-bar">
  <input placeholder="모임명, 지역을 검색해 주세요" type="text">
</div>

<div class="chat-rooms">
  <div class="chat-room-card" th:each="room : ${chatRooms}"
       th:onclick="'joinAndGo(' + ${room.chatRoomId} + ')'">
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <img
        alt="채팅방 이미지"
        th:src="${room.imageUrl != null and room.imageUrl != '' ? room.imageUrl : '/images/image-upload.png'}">
    <div class="chat-room-info">
      <h2 th:text="${room.chatRoomName}">채팅방 이름</h2>
      <p th:text="${room.description}">채팅방 설명</p>
      <div class="chat-room-meta">
        <span><img src="/images/runnity-address.png" style="width: 20px; height: 25px;"> <span
            th:text="${room.region}">지역</span></span>
        <span><img src="/images/runnity-person.png" style="width: 20px; height: 26px;"> <span
            th:text="${#lists.size(room.members)}">0</span></span>
      </div>
    </div>
  </div>
</div>
<button class="floating-create-btn" id="createChatBtn" onclick="location.href='/chat-room/create'">
  +
</button>

<script src="/chat/js/group-chat-list.js"></script>
</body>
</html>