server:
  port: 8080

naver:
  map:
    client-id: ${NAVER_CLIENT_ID}
spring:
  # Redis 서버 (듀오 매칭 시스템에 필요)
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2s

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_OAUTH_CLIENT_ID}
            client-secret: ${GOOGLE_OAUTH_SECRET_PW}
            redirect-uri: "http://localhost:8080/login/oauth2/code/google"
            scope:
              - email
              - profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub


  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

# park
ai:
  api:
    base-url: https://kdt-api-function.azurewebsites.net
    key: "${ALAN_KEY}"