body {
  font-family: 'Pretendard', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  /*height: 100vh;*/
}


header {
  width: 100%;
  background-color: #f5f4ff;
}

.header-inner {
  display: flex;
  align-items: center;
  padding: 15px 40px;
}

header img {
  height: 26px;
  margin-right: 8px;
}

header h1 {
  color: #20277A;
  font-size: 22px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form span {
  font-size: 15px;
}

label {
  font-weight: bold;
  text-align: left;
}

input, select {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 15px;
}

select {
  appearance: none;
  background: url('data:image/svg+xml;charset=UTF-8,<svg fill="%236675ff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
  background-color: white;
  background-size: 20px;
  cursor: pointer;
}

/* 오른쪽 영역 */
.location-section {
  width: 60%;
  max-width: 900px;
  background-color: #ffffff;
  padding: 60px;
  box-sizing: border-box;
}

.location-section h2 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 15px;
}

.location-search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.location-search input {
  flex: 1;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 10px;
}

.set-location-btn {
  background-color: #6675ff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
}

.map-container {
  margin-top: 20px;
}

.map-preview {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* 가입 버튼 */
.join-btn {
  width: 100%;
  margin-top: 25px;
  height: 50px;
  background-color: #6675ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.signIn-section {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.signIn-section a {
  color: #20277A;
  font-weight: bold;
  text-decoration: none;
}

.signIn-section a:hover {
  text-decoration: underline;
}

.map {
  height: 400px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: #6675ff;
  /*width: 100%;*/
  /*height: 400px;*/
  /*border-radius: 12px;*/
  /*border: 1px solid #d9d9d9;*/
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.info {
  height: 50px;
}

.map-info {
  margin-top: 12px;
  padding: 8px 14px;
  font-size: 14px;
  color: #444;
  background: #f4f6fa;
  border: 1px solid #d3d6dd;
  border-radius: 8px;
  text-align: center;
  width: fit-content;
}