<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원 정보 변경</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/setUserProfile.css}">
</head>
<body>
<header>
  <a class="d-flex align-items-center text-decoration-none" th:href="@{/main}">
    <i class="fa-solid fa-person-running text-primary fs-4 me-2"></i>
    <span class="fw-bold fs-5 text-primary">Runnity</span>
  </a>
</header>


<div class="set-user-container">
  <form enctype="multipart/form-data" id="profileForm" method="post"
        th:action="@{/userInfo/update}">
    <!-- CSRF -->
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>

    <div class="profile-wrapper">


      <div class="profile-left">

        <th:block th:unless="${isSNSLogin}">
          <label for="loginId">아이디</label>
          <input id="loginId" name="username" placeholder="변경할 아이디를 입력하세요"
                 th:value="${formData.username}" type="text">
          <span id="idMessage"></span>
        </th:block>

        <th:block th:unless="${isSNSLogin}">
          <label for="password">비밀번호</label>
          <input id="password" name="password" placeholder="변경할 비밀번호를 입력하세요"
                 th:value="${formData.password}" type="password">
          <span id="pwMessage"></span>
        </th:block>

        <th:block th:unless="${isSNSLogin}">
          <label for="passwordConfirm">비밀번호 확인</label>
          <input id="passwordConfirm" name="passwordConfirm" placeholder="비밀번호를 다시 입력하세요"
                 th:value="${formData.passwordConfirm}" type="password">
          <span id="pwConfirmMessage"></span>
        </th:block>

        <label for="nickname">닉네임</label>
        <input id="nickname" name="nickname" placeholder=" 변경할 닉네임을 입력하세요"
               th:value="${formData.nickname}" type="text">
        <span id="nicknameMessage"></span>

      </div>


      <div class="profile-right">
        <img alt="프로필 이미지" class="profile-img" id="previewImg" th:src="${formData.profileImageUrl}">
        <input accept="image/*" class="file-input" id="profileImgInput" name="profile-image"
               type="file">

        <input id="removeImageFlag" name="removeFlag" type="hidden" value="false">
        <button class="save-btn" id="resetImgBtn">기본 이미지로 변경</button>
      </div>

    </div>


    <div class="btn-section">
      <button class="save-btn" type="submit">저장</button>
      <button class="cancel-btn" onclick="location.href='/main'" type="button">취소</button>
    </div>

  </form>
</div>
<!-- Footer -->
<div th:replace="partials/footer :: footer"></div>

<script th:inline="javascript">
  const loginIdErrorMessage = /*[[${loginIdErrorMessage}]]*/ null;
  const nickNameErrorMessage = /*[[${nickNameErrorMessage}]]*/ null;

  const signupForm = document.getElementById("signUpForm");

  const loginIdMessage = document.getElementById("idMessage");
  const pwMessage = document.getElementById("pwMessage");
  const pwConfirmMessage = document.getElementById("pwConfirmMessage");
  const nicknameMessage = document.getElementById("nicknameMessage");

  const confirmPassword = document.getElementById("passwordConfirm");
  const password = document.getElementById("password");

  const fileInput = document.getElementById("profileImgInput");
  const previewImg = document.getElementById("previewImg");

  const resetImgBtn = document.getElementById("resetImgBtn");

  resetImgBtn.addEventListener("click", (event) => {
    event.preventDefault();
    fileInput.value = "";
    previewImg.src = "/images/runnity-person.png";

    document.getElementById("removeImageFlag").value = true;
  })

  fileInput.addEventListener("change", (event) => {
    const file = event.target.files[0];
    if (!file) {
      return;
    }
    const maxSize = 10 * 1024 * 1024;
    if (file.size > maxSize) {
      alert("업로드 가능한 파일 크기는 최대 10MB 입니다.");
      fileInput.value = ""; // 선택 초기화
      return;
    }
    const previewUrl = URL.createObjectURL(file);
    previewImg.src = previewUrl;
    console.log("프로필 이미지: " + previewImg.src);
  });

  confirmPassword.addEventListener("input", () => {
    passwordConfirm();
  });
  password.addEventListener("input", () => {
    passwordConfirm();
  });

  function passwordConfirm() {
    if (password.value !== confirmPassword.value) {
      pwConfirmMessage.textContent = "비밀번호가 일치하지 않습니다.";
      pwConfirmMessage.style.color = "red";
    } else {
      pwConfirmMessage.textContent = "비밀번호가 일치합니다.";
      pwConfirmMessage.style.color = "green";
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    if (loginIdErrorMessage != null) {
      loginIdMessage.textContent = loginIdErrorMessage;
      loginIdMessage.style.color = "red";

    }
    if (nickNameErrorMessage != null) {
      nicknameMessage.textContent = nickNameErrorMessage;
      nicknameMessage.style.color = "red";
    }

  });

  signupForm.addEventListener("submit", event => {
    const loginId = document.getElementById("loginId");
    const idRegex = /^[A-Za-z0-9]{8,12}$/;
    const pwRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{7,15}$/;
    let valid = true;
    if (loginId.length > 0 && !idRegex.test(loginId.value)) {
      valid = false;
      loginIdMessage.textContent = "아이디는 영문과 숫자가 포함된 8~12자로 제한됩니다."
      loginIdMessage.style.color = "red";
    } else {
      loginIdMessage.textContent = "";
    }
    if (password.length > 0 && !pwRegex.test(password.value)) {
      valid = false;
      pwMessage.textContent = "비밀번호는 최소 1개의 대문자, 숫자 및 특수기호가 포함된 7~15자로 제한됩니다.";
      pwMessage.style.color = "red";
    } else {
      pwMessage.textContent = "";
    }
    if (!valid) {
      event.preventDefault();
    }
  });


</script>
</body>
</html>